/* kindle browser doesn't support calc(), so I'm using fixed pixel sizes. */

body {
  font-family: "Arvo";
  background-color: #ffffff;
  color:#000000;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}

.bar {
  width: 638px;
  height: 140px;
  padding: 30px 20px;
  margin: 0 0 40px 40px;
  float: left;
  text-align: right;
  border-bottom: 8px solid #999999;
  vertical-align: bottom;
  white-space: nowrap;
}

.blockbody {
  padding: 0 20px;
  white-space: nowrap;
}

#main {
  width: 758px;
  display: block;
  background-color: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
}

.text {
  font-size: 60px;
  font-weight: 400;
}

.accent {
  font-size: 72px;
  font-weight: 700;
}

.large {
  font-size: 100px;
  font-weight: 400;
}

.huge {
  font-size: 132px;
  font-weight: 700;
}
